* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Generiche  */
body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#body-background {
  height: 100%;
  background-color: #DBDBD2;
}

#body-background .blue-stripe {
  height: 20%;
  background-color: #009688;
}

.abs-centr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-rel {
  position: relative;
}

.d-none {
  display: none;
}
/* fine generiche */

/* Contenuto pagina */
#content-wrapper {
  width: 85%;
  height: 95%;
}

/* Aside + Main */
aside header,
main header {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
}

aside header {
  border-right: 1px solid #DBDBD2;
}
/* fine aside + main */

/* Aside */
aside {
  float: left;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

aside header,
#notifications,
#search {
  width: 100%;
  flex-shrink: 0;
}

/* Header aside */
aside header {
  padding: 5px;
}

aside header img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  float: left;
}

aside header .header-icons {
  float: right;
  font-size: 18px;
  line-height: 50px;
}

aside header .header-icons i {
  padding-right: 10px;
  color: #B1B1B1;
}
/* fine header aside */

/* Notifiche */
#notifications {
  height: 65px;
  background-color: #8EDAFC;
  padding: 10px 5px 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#notifications .fa-bell-slash {
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  color: #8EDAFC;
  padding: 10px;
  text-align: center;
}

#notifications-text {
  padding-left: 20px;
}

#notifications-text p {
  font-size: 13px;
  color: #b3b3b3;
  text-decoration: underline;
}
/* fine notifiche */

/* Cerca */
#search {
  height: 40px;
  background-color: #FAFAFA;
  padding: 5px;
}

#search > .search-container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#search > .search-container > i.fa-search {
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  color: #000;
  border-right: 1px solid #d9d9d9;
  flex-shrink: 0;
  text-align: center;
  line-height: 30px;
}

#search > .search-container > input {
  margin-left: 3%;
  width: 97%;
  padding: 3px;
  border-radius: 5px;
  border: none;
}
/* fine cerca */

/* Contenitore contatti */
#contacts-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}

#contacts-container > .contact {
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.contact img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
  border-radius: 50%;
  vertical-align: middle;
}

.contact-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contact-text p {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 3px;
}

.last-message-time {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #b3b3b3;
  font-size: 12px;
}

#contacts-container > .contact:hover {
  background-color: #d9d9d9;
}

#contacts-container .contact.active {
  background-color: #d9d9d9;
}

#contacts-container .contact.d-none {
  display: none !important;
}
/* fine contenitore contatti */

/* fine aside */

/* Main */
main {
  float: right;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

main header,
main #typing-container {
  height: 60px;
  flex-shrink: 0;
}

/* Header main */
main header {
  padding: 5px;
}

main header img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  vertical-align: middle;
}

#main-header-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

#main-header-text p {
  font-size: 13px;
  color: #999999;
}

main header .header-icons {
  float: right;
  font-size: 18px;
  line-height: 50px;
}

main header .header-icons i {
  padding-right: 10px;
  color: #B1B1B1;
}
/* fine header main */

/* Finestra di conversazione */
#conversation-window {
  height: 100%;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.balloons {
  height: auto;
  min-height: 100%;
  padding: 30px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.balloons.d-none {
  display: none;
}

#conversation-window .white-balloon,
#conversation-window .green-balloon {
  padding: 15px 35px 15px 8px;
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
}

.white-balloon {
  background-color: #fff;
  align-self: flex-start;
}

.green-balloon {
  background-color: lightgreen;
  align-self: flex-end;
}

.white-balloon p,
.green-balloon p {
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: visible;

}

#conversation-window .balloon-time {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 10px;
  color: grey;
}
/* Opzioni messaggio */
.white-balloon .fa-chevron-down,
.green-balloon .fa-chevron-down {
  position: absolute;
  bottom: 10px;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.white-balloon:hover .fa-chevron-down,
.green-balloon:hover .fa-chevron-down {
  display: inline-block;
}

.white-balloon ul,
.green-balloon ul {
  list-style: none;
  position: absolute;
  background-color: #F3EEEA;
  bottom: -50px;
  width: 150px;
  white-space: nowrap;
  font-size: 13px;
  text-align: center;
  z-index: 1;
}

.green-balloon ul {
  right: 0;
}

.white-balloon ul li,
.green-balloon ul li {
  padding: 10px 0;
  cursor: pointer;
}

.white-balloon ul li:hover,
.green-balloon ul li:hover {
  background-color: #e3d8ce;
}
/* fine opzioni messaggio */
/* fine finestra di conversazione */

/* Barra di digitazione */
#typing-container {
  background-color: #F3EEEA;
  display: flex;
  align-items: center;
}

#typing-container .fa-smile,
#typing-container .send {
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
}

#typing-container input {
  width: 90%;
  padding: 12px 10px;
  border-radius: 7px;
  border: none;
  outline: none;
}

#typing-container input:focus {
  border: 2px solid #000;
}
/* fine barra di digitazione */
/* fine main */

/* fine contenuto pagina */

/* MEDIA QUERIES: */
@media screen and (max-width: 768px) {
  #contacts-container .contact-text p.last-message {
    display: none;
  }
}
